modules = ["python-3.12", "web", "php-8.2"]
[nix]
channel = "stable-25_05"
packages = ["freetype", "lcms2", "libimagequant", "libjpeg", "libjpeg_turbo", "libpng", "libtiff", "libwebp", "libxcrypt", "openjpeg", "tcl", "tk", "which", "zlib"]

[agent]
expertMode = true
stack = "BEST_EFFORT_FALLBACK"

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Start application"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "PHP Movie API"

[[workflows.workflow]]
name = "Start application"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "python bot.py"

[workflows.workflow.metadata]
outputType = "console"

[[workflows.workflow]]
name = "PHP Movie API"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "php -S 127.0.0.1:8000"

[workflows.workflow.metadata]
outputType = "console"

[[ports]]
localPort = 5000
externalPort = 80

[userenv]

[userenv.shared]
ADMIN_USER_ID = "6038098264"
