aiofiles
basicsr
facexlib
faster-whisper
flask
gfpgan
google-api-python-client
google-auth
google-genai
opencv-python-headless
Pillow
pyTelegramBotAPI
python-dotenv
realesrgan
requests
sift-stack-py
torch
torchvision
